.home-page {
	font-size: 2rem;

	.home-main {
		width: 80%;
		margin: 0 auto;

		.new-project {
			font-size: 4rem;
			cursor: pointer;
			margin: 0 auto;
		}

		.project-list {
			width: 100%;

			.item {
				cursor: pointer;
				width: 100%;
				margin: 15px;
				box-sizing: border-box;
				background-color: #608aff;
				color: #fff;
				padding: 15px 15px 15px 45px;
				border-radius: 50px;

				.item-info {

					.project-name {
						font-size: 3rem;
						margin-bottom: 10px;
						color: rgb(255, 255, 255)
					}

					.project-time {
						font-size: 12px;
						color: rgb(255, 255, 255);
					}
				}

				.delete {
					border-radius: 50%;
					box-sizing: border-box;
					padding: 20px;
					background-color: rgb(245, 118, 118);
					color: #fff;
				}
			}
		}
	}
}

.sm-page {
	min-width: "150px";
	height: "150px";
	padding: 10px;
	background-color: rgb(236, 236, 236);
}