.widget-pic {
	// box-shadow: 0 0 15px 50px rgb(214, 214, 214);
	box-shadow: 0 0 15px 50px rgb(235, 217, 255);
}

.widget-name {
	font-size: 20px;
	font-weight: 900;
}

.widget-description {
	font-size: 14px;
}